@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@import "./variables.scss";

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

svg {
  fill: #ffffff;
  stroke-width: 0px;
}

input {
  padding: 9px;
  border: 2px solid $theme-color-1;
  border-radius: 6px;
  background: none;
  color: darken($main-txt-color, 20%);
  font-family: $main-font;
  font-size: 19px;
  outline: none;
  transition: all 0.15s ease-in-out;

  &::placeholder {
    color: $main-txt-color;
  }

  &:focus {
    color: $main-txt-color;
    border-color: darken($theme-color-1, 15%);
  }

  &:disabled {
    border-color: $theme-color-disabled;
  }

  &.error {
    border-color: $theme-color-red;

    &:focus {
      border-color: darken($theme-color-red, 15%);
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
  background-color: $main-bg-color;
  color: $main-txt-color;
  font-family: $main-font;
  margin: auto;
  overflow: hidden;
}

.flex-wrapper {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  cursor: pointer;
  appearance: none;
  border: 2px solid $main-txt-color;
  border-radius: 10px;
  background: none;
  color: $main-txt-color;
  padding: 9px;
  font-size: clamp(17px, 2vw, 19px);
  font-family: $main-font;
  transition: all 0.07s ease-in-out;

  &:hover {
    background-color: $main-txt-color;
    color: invert($main-txt-color);
  }

  &.std {
    position: relative;
    color: $main-txt-color;
    border: none;
    background-color: $theme-color-1;

    &:disabled,
    &:hover {
      background-color: darken($theme-color-1, 15%);
    }
  }

  &.minimal {
    $side-padding: 10px;

    padding: 3px;
    padding-left: $side-padding;
    padding-right: $side-padding;
    font-size: clamp(9px, 1lvw, 12px);
  }

  &.bubble {
    background-color: none;
    border-color: transparent;
    font-size: 16px;

    &.focused,
    &:hover {
      color: $main-txt-color;
      background-color: rgba(255, 255, 255, 0.015);
    }

    svg {
      $size: 23px;

      width: $size;
      height: $size;
      transition: all 0.1s ease;
    }

    &.green {
      &.solid,
      &:hover {
        color: $theme-color-green;

        svg {
          fill: $theme-color-green;
        }
      }
    }

    &.red {
      &.solid,
      &:hover {
        color: $theme-color-red;

        svg {
          fill: $theme-color-red;
        }
      }
    }

    &.yellow {
      &.solid,
      &:hover {
        color: $theme-color-yellow;

        svg {
          fill: $theme-color-yellow;
        }
      }
    }

    & > span {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      & > span {
        margin-left: 6px;
      }
    }

    &.left {
      & > span {
        justify-content: flex-start;
      }
    }

    &:disabled {
      opacity: 0.2;
    }
  }
}

textarea {
  &.bubble {
    color: $main-txt-color;
    font-family: $main-font;
    min-height: 30px;
    width: calc(100% - 17px);
    padding: 12px;
    margin-top: 10px;
    border-radius: 15px;
    resize: none;
    font-size: clamp(15px, 1.5vw, 18px);
    border: 2px solid transparent;
    outline: none;
    background-color: transparent;
    transition: background-color 0.1s ease;

    &::placeholder {
      font-style: italic;
      color: $main-txt-color;
      opacity: 0.7;
    }

    &:hover,
    &:focus {
      cursor: text;
      background-color: $secondary-bg-color;
    }

    &.error {
      border: 2px solid $theme-color-red;
    }
  }
}

input {
  &.bubble {
    border-radius: 15px;
    padding: 10px;
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.015);

    &:focus {
      background-color: rgba(255, 255, 255, 0.04);
    }

    &::placeholder {
      font-style: italic;
    }

    &.error {
      border: 2px solid $theme-color-red;
    }
  }

  &.minimal {
    $side-padding: 8px;

    padding: 5px;
    padding-left: $side-padding;
    padding-right: $side-padding;
    font-size: clamp(16px, 1.1lvw, 19px);
  }
}

h1 {
  $side-padding: 15px;

  padding-left: $side-padding;
  padding-right: $side-padding;
  font-weight: normal;
  font-size: clamp(25px, 2.4lvw, 32px);

  &.section-heading {
    padding-left: 0;
  }
}

form,
form > div.stage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 70lvw;
  min-width: 300px;

  &,
  & + button {
    max-width: 400px;
  }

  label {
    font-style: italic;
    font-size: clamp(16px, 1.2lvw, 18px);
    margin-top: 10px;
    text-align: left;
    overflow-wrap: break-word;
    max-width: 100%;
  }

  label,
  input {
    width: calc(100% - 22px);
  }

  button {
    width: 100%;

    &.form-button {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}

button:disabled {
  cursor: not-allowed;
}

.error-label {
  color: $theme-color-red;
  font-weight: 500;
  margin-top: 5px;
  font-style: normal;
  padding-left: 10px;
}

.success-label {
  color: $theme-color-green;
  font-weight: 500;
  margin-top: 5px;
  font-style: normal;
  padding-left: 10px;
}

svg.spinner {
  animation: fade-in 0.4s forwards, spin 0.6s ease-in-out infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

span.login-count {
  cursor: auto;
  margin: auto;
  padding: 10px;
  padding-top: 15px;

  b {
    margin-right: 10px;
  }
}

div.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 5;

  div.modal-content {
    padding: 10px;
    border-radius: 14px;
    background-color: $secondary-bg-color;
    width: 40lvw;
    min-width: 290px;
    max-width: 400px;

    h3 {
      font-weight: normal;
    }

    input {
      font-size: 17px;
      margin: 8px;
    }

    p {
      white-space: pre-wrap;
    }

    p.error {
      $side-padding: 10px;

      padding-left: $side-padding;
      padding-right: $side-padding;
      color: $theme-color-red;
      margin: auto;
    }

    div.modal-buttons {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      button {
        margin: 0 5px;
      }
    }
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: rgba(255, 255, 255, 0.02);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}
