$main-txt-color: #e7e7e7;
$main-bg-color: #030303;
$secondary-bg-color: #0a0a0a;
$tertiary-bg-color: #101010;
$main-font: "Inter", "sans-serif";

$theme-color-1: #331bbf;
$theme-color-2: #1b8ebf;
$theme-color-red: #e60a1c;
$theme-color-yellow: #d7a51b;
$theme-color-green: #11b814;
$theme-color-disabled: #9494a0;

$ui-border-radius: 13px;

$mobile-breakpoint: 630px;
